<form action="/search" method="POST">
    <label for="ssn">Type the client's ssn:</label><br>
    <input type="text" id="ssn" name="ssn" placeholder="Enter SSN" required><br>
    <label for="ssn">Type the product_id ssn:</label><br>
    <input type="text" id="product_id" name="product_id" placeholder="Enter product_id" required><br>
    <input type="submit" value="Order Now!">
  </form>
